name: run-agent

on:
  workflow_dispatch:
    inputs:
      agent:
        description: "Agent to run"
        required: true
        type: string
      dry_run:
        description: "Dry run"
        required: false
        default: false
        type: boolean

jobs:
  run:
    uses: ./.github/workflows/scan-and-run.yml
    with:
      agent: ${{ inputs.agent }}
      dry_run: ${{ inputs.dry_run }}
